@{
    ViewData["Title"] = "Cadastro de Empresa";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Empresas</h2>
        <div class="row" style="width:100%; height:100%; margin:1%;">
            <input style="width:8%; min-width:50px" type="number" class="form-control" id="IdConsulta" name="IdConsulta">
            <input style="margin-left:1%; width:30%; min-width:50px;" type="text" class="form-control" id="DescricaoConsulta" name="DescricaoConsulta">
            <button style="margin-left:10px; width:8%; min-width:80px" onclick="pesquisarEmpresa($('#IdConsulta').val(), $('#DescricaoConsulta').val())" class="btn btn-primary">Pesquisar</button>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="consulta-tab" data-toggle="tab" href="#consulta" role="tab" aria-controls="consulta" aria-selected="true" onclick="consultaEmpresa()">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="false" onclick="novoEmpresa()">Cadastro</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="consulta" role="tabpanel" aria-labelledby="consulta-tab">
                <table class="table mt-3" id="consulta">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Razão Social</th>
                            <th>Fantasia</th>
                            <th>Cnpj</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var empresa in Model.Empresas)
                        {
                            <tr ondblclick="editarEmpresa(@empresa.Id)">
                                <td>@empresa.Id</td>
                                <td>@empresa.Razao_Social</td>
                                <td>@empresa.Fantasia</td>
                                <td>@empresa.Cnpj</td>
                                <td>
                                    <button class="btn btn-primary" onclick="editarEmpresa(@empresa.Id, '@empresa.Razao_Social', '@empresa.Fantasia', '@empresa.Cnpj',
                                        '@empresa.Endereco','@empresa.Numero','@empresa.Complemento','@empresa.Bairro','@empresa.Municipio','@empresa.Uf','@empresa.Cep','@empresa.Telefone')">
                                        Editar
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="deletarEmpresa(@empresa.Id)" style="background-color:red; border-color:red">Deletar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-success" onclick="novoEmpresa()">Novo</button>
            </div>
            <div class="tab-pane fade" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
                <form id="cadastroForm" method="post" onsubmit="SalvarEmpresa(); return false;">
                    <div class="container" style="height: 100%;
                          margin: 0;">
                        <div class="container2" style=" align-content:center; height:100%; width:80%;">
                            <div class="container-fluid" style="height:100%; margin:0;">
                                <h1 class="display-4" style="margin:2%;font-size:150%;">Cadastro de Empresa</h1>
                            </div>

                            <div class="form-group">
                                <label for="ID">ID</label>
                                <input style="margin-bottom:2%; width:10%; min-width:50px" type="number" class="form-control" id="ID" name="ID" disabled>
                            </div>
                            <div class="form-group">
                                <label for="Razao_Social">Razão Social</label>
                                <input style="width:50%; min-width:150px;" type="text" class="form-control" id="Razao_Social" name="Razao_Social" required>
                            </div>
                            <div class="form-group">
                                <label for="Fantasia">Fantasia</label>
                                <input style="width:30%; min-width:100px;" type="text" class="form-control" id="Fantasia" name="Fantasia" required>
                            </div>
                            <div class="form-group">
                                <label for="Cnpj">Cnpj</label>
                                <input style="width:30%; min-width:80px;" type="text" class="form-control" id="Cnpj" name="Cnpj" maxlength="18" oninput="mascaraCnpj(this)" required>
                            </div>
                            <div class="form-group">
                                <label for="Telefone">Telefone</label>
                                <input style="width:20%; min-width:80px;" type="text" class="form-control" id="Telefone" name="Telefone" maxlength="14" oninput="mascaraTelefone(this)">
                            </div>

                            <div style="width:100%; height:80%; margin-top:2%; border-color:darkgrey; border-width:1px; border-radius:8px; border-style:solid; padding:1%">                            
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="Cep">Cep</label>
                                            <input style="width:80%; min-width:80px;" type="text" class="form-control" id="Cep" name="Cep" maxlength="9" oninput="mascaraCep(this)" required>
                                        </div>
                                    </div>
                                    <div class="col" style="display: flex; align-items: flex-end;">
                                        <button type="button" onclick="pesquisarCep()" class="btn btn-primary" style="background-color:green; border-color:green">Pesquisar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label for="Endereco">Endereco</label>
                                            <input style="width:100%; min-width:80px;" type="text" class="form-control" id="Endereco" name="Endereco" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="Numero">Numero</label>
                                            <input style="width:5%; min-width:80px;" type="text" class="form-control" id="Numero" name="Numero" required>
                                        </div>
                                    </div>
                                </div>                                                              
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="Complemento">Complemento</label>
                                            <input style="width:100%; min-width:80px;" type="text" class="form-control" id="Complemento" name="Complemento">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="Bairro">Bairro</label>
                                            <input style="width:70%; min-width:80px;" type="text" class="form-control" id="Bairro" name="Bairro" required>
                                        </div>
                                    </div>
                                </div>                                                          
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="Municipio">Municipio</label>
                                            <input style="width:100%; min-width:80px;" type="text" class="form-control" id="Municipio" name="Municipio" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="Uf">UF</label>
                                            <input style="width:5%; min-width:80px;" type="text" class="form-control" id="Uf" name="Uf" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button style="margin-top:3%" type="submit" class="btn btn-primary">Salvar</button>
                            <button style="margin-top:3%; background-color:red; border-color:red" onclick="consultaEmpresa()" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function mascaraTelefone(input) {
            let value = input.value.replace(/\D/g, ""); 
            if (value.length <= 10) {
                // Formato (##)####-####
                value = value.replace(/^(\d{2})(\d{4})(\d{4})$/, "($1)$2-$3");
            } else {
                // Formato (##)#####-####
                value = value.replace(/^(\d{2})(\d{5})(\d{4})$/, "($1)$2-$3");
            }
            input.value = value;
        }

        function mascaraCep(input) {
            let value = input.value.replace(/\D/g, "");
            value = value.replace(/^(\d{5})(\d{3})$/, "$1-$2"); // Aplica o formato #####-###
            input.value = value;
        }

        function mascaraCnpj(input) {
            let value = input.value.replace(/\D/g, ""); // Remove caracteres não numéricos
            value = value.replace(/^(\d{2})(\d)/, "$1.$2");
            value = value.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
            value = value.replace(/\.(\d{3})(\d)/, ".$1/$2");
            value = value.replace(/(\d{4})(\d)/, "$1-$2");
            input.value = value;
        }

        function pesquisarCep() {
            const cep = $('#Cep').val();
            const url = `https://viacep.com.br/ws/${cep}/json/`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("CEP não encontrado");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.erro) {
                        alert("CEP inválido!");
                        return;
                    }
                    $('#Endereco').val(data.logradouro);
                    $('#Bairro').val(data.bairro);
                    $('#Municipio').val(data.localidade);
                    $('#Uf').val(data.uf);
                })
                .catch(error => {
                    console.error("Erro ao buscar o CEP:", error);
                    alert("Erro ao buscar o CEP. Verifique o valor e tente novamente.");
                });
        }

        function consultaEmpresa() {
            $('#ID').val(0);
            $('#Razao_Social').val('');
            $('#Fantasia').val('');
            $('#Cnpj').val('');
            $('#Endereco').val('');
            $('#Numero').val('');
            $('#Complemento').val('');
            $('#Bairro').val('');
            $('#Municipio').val('');
            $('#Uf').val('');
            $('#Cep').val('');
            $('#Telefone').val('');
            $('#consulta-tab').tab('show');
        }


        function pesquisarEmpresa(id, razao) {
            if (!id && !razao) {
                window.location.href = "/api/Empresa/Empresa/Empresa";
            } else {
                window.location.href = `/api/Empresa/Empresa/Pesquisar/${id ? id : 0}/${razao ? encodeURIComponent(razao) : ''}`;
            }
        }

        function novoEmpresa() {
            $('#ID').val(0);
            $('#Razao_Social').val('');
            $('#Fantasia').val('');
            $('#Cnpj').val('');
            $('#Endereco').val('');
            $('#Numero').val('');
            $('#Complemento').val('');
            $('#Bairro').val('');
            $('#Municipio').val('');
            $('#Uf').val('');
            $('#Cep').val('');
            $('#Telefone').val('');
            $('#cadastro-tab').tab('show');
        }
        function editarEmpresa(id, razao, fantasia, cnpj, endereco, numero, complemento, bairro, municipio, uf, cep, telefone) {
            $('#ID').val(id);
            $('#Razao_Social').val(razao);
            $('#Fantasia').val(fantasia);
            $('#Cnpj').val(cnpj);
            $('#Endereco').val(endereco);
            $('#Numero').val(numero);
            $('#Complemento').val(complemento);
            $('#Bairro').val(bairro);
            $('#Municipio').val(municipio);
            $('#Uf').val(uf);
            $('#Cep').val(cep);
            $('#Telefone').val(telefone);
            $('#cadastro-tab').tab('show');

        }
        function deletarEmpresa(id) {
            var confirmar = confirm('Você tem certeza de que deseja deletar esta empresa?');
            if (confirmar) {
                $.ajax({
                    url: '/api/Empresa/Empresa/Delete/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        alert('Empresa deletada com sucesso!');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert('Erro ao deletar a empresa: ' + error);
                    }
                });
            }
        }

        function SalvarEmpresa() {
            var id = $('#ID').val();
            var razao = $('#Razao_Social').val();
            var fantasia = $('#Fantasia').val();
            var cnpj = $('#Cnpj').val();
            var endereco = $('#Endereco').val();
            var numero = $('#Numero').val();
            var complemento = $('#Complemento').val();
            var bairro = $('#Bairro').val();
            var municipio = $('#Municipio').val();
            var uf = $('#Uf').val();
            var cep = $('#Cep').val();
            var telefone = $('#Telefone').val();

            var empresa = {
                ID: id,
                Razao_Social: razao,
                Fantasia: fantasia,
                Cnpj: cnpj,
                Endereco: endereco,
                Numero: numero,
                Complemento: complemento,
                Bairro: bairro,
                Municipio: municipio,
                Uf: uf,
                Cep: cep,
                Telefone: telefone
            };

            var url, type;

            if (id == 0) {
                url = '/api/Empresa/Empresa/Create';
                type = 'POST';
            } else {
                url = '/api/Empresa/Empresa/Update/' + id;
                type = 'PUT';
            }

            $.ajax({
                url: url,
                type: type,
                contentType: 'application/json',
                data: JSON.stringify(empresa),
                success: function (result) {
                    alert('Empresa salva com sucesso!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Erro ao salvar a empresa: ' + error);
                }
            });
        }

    </script>
</body>
